// Base Colors
$color-black:    #000000;
$color-white:    #FFFFFF;

// UI Colors
$color-slate:   #111111;
$color-grey:    #F6F6F6;
$color-blue:    #007AFF;
$color-yellow:  #F7CA18; 

// Typography
$font-sans:     "Muli";
$base-font:     16px;
$line-height:   1.6;

// Media Queries
$small:         30em;
$medium:        43em;
$large:         70em;