* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    font-family: $font-sans;
    font-size: 14px;
    font-weight: 100;
    line-height: 1.5em;
}

input, textarea {
    outline: 0;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    appearance: none;
}

ul {
    li {
        list-style-type: none;
    }
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 100;
}

h1 {
    margin-bottom: .5em;
}

p {
    color: lighten($color-slate, 50%);
    font-size: 1.1em;
    line-height: 1.8;
}